.header {
    background-color: white;
    height: 50px;
    width: auto;
    border: white 1px dashed;
    line-height: 51px;
   
}

.main {
    background-color: white;
    border: white 1px solid;
    position: center;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 40px;
    
}
.footer {
    height: 50px;
    width: auto;
    background-color: #EBEAE9;
    border-top: 1px solid #DADADA;
    line-height: 50px;
}
#search {
    
    width: 270px;
    
    display: block;
    margin: auto;
    position: relative;
    margin-top: -60px
    
}
input {
    margin-left: -200px;
    margin-right: 0px;
    height: 20px;
    width:600px
}
.header > a {
    margin-left: 10px;
    float: right;
    margin-right: 10px;
    
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    
}
.main img {
    width: 300px;
    height: 300px;
    margin-left: 15%;
    
}
.header a img {
    width: 70px;
    height: 30px;
    margin-top: 10px;
}
a:hover {
    text-decoration: underline;
    color: black;
}
body {
    margin-bottom: 0;
}
.footer > a {
    color: black;
    text-decoration: none;
    margin-top: 20px;
    font-family: sans-serif;
    color: #5F5F5F;
}
.footer a:nth-child(1) {
    margin-left: 40px;
}
.footer a:nth-child(2) {
    margin-left: 40px;
}
.footer a:nth-child(3) {
    margin-left: 40px;
}
.footer a:nth-child(4) {
    margin-right: 40px;
    margin-left: 660px
}
.footer a:nth-child(5) {
    margin-right: 40px;
}
.footer a:nth-child(6) {
    margin-right: 40px;
}
.main > button {
    margin-left: 50px;
    margin-right: 10px;
    height: 30px;
    width: 100px;
    margin-top: 0px;
}
    
    
    
    
    